.main__section {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.main__btns {
    /* border: 1px solid red; */
    background: #111111;
    color: #39b45a;
    font-size: 1.2rem;
    margin: .5em;
    border-radius: 3px;
}

.main__btns:hover {
    cursor: pointer;
}